#tab-list li{
    float:left;
    width: auto;
    list-style: none;
    margin-right: 20px;
}

#tab-list li>a{
    padding:10px;
    font-family: Arial, Helvetica, sans-serif;
}


#tab-list li>a.active{
    background-color: aqua;
}


.tab-element{
    width: 100%;
    clear: both;
    padding: 20px;
    display: none;
}

.spacer{
    clear: both;
    margin-bottom: 40px;
    display: block;
}

button {
    border: 2px solid #CCC;
    padding: 10px;
    font-size: 12px;
    font-weight: 700;
}

select {
    border: 2px solid #CCC;
    padding: 10px;
    font-size: 12px;
    font-weight: 700;
    width: 200px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}